* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff7ed;
    font-family: "Inter", sans-serif;
}

.headerNav {
    z-index: 1;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(133, 202, 205);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.146);
}

.headerNav a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 20px;
}

footer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(133, 202, 205);
    position: fixed;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.146);
}

footer p {
    width: 100%;
    margin: 0 0 5px 0;
    
}

.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-container h1 {
    margin-top: 5rem;
}

.pokemon-wrapper {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pokemon-wrapper::-webkit-scrollbar {
    display: none;
}

.home-btn-group {
    margin: 3rem auto 6rem auto;
}

.home-refresh-btn {
    margin-bottom: 2rem;
    background-color: rgb(210, 116, 21);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px;
    width: min(240px, 100%);
}

.home-btn-group a {
    text-decoration: none;
    color: black;
}

/* normal pokemon card in home page */
.pokemon-unit {
    width: 80%;
    background-color: rgb(133, 202, 205);
    margin: auto 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-unit a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-unit-img-container {
    width: 80%;
    min-width: 240px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-unit img {
    width: 100%;
    object-fit: fill;
    margin-top: 2rem;
}

.pokemon-unit h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.pokemon-unit .catch-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(210, 116, 21);
    color: white;
    font-weight: 600;
}

/* Disabled pokemon card in home page */
.pokemon-unit-disabled {
    width: 80%;
    background-color: rgb(205, 205, 205);
    margin: auto 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color .2s ease-in-out;
}

.pokemon-unit-img-container {
    width: 80%;
    min-width: 240px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-unit-disabled img {
    width: 100%;
    object-fit: fill;
    margin-top: 2rem;
    filter: contrast(50%);
    transition: all .2s ease-in-out;
}

.pokemon-unit-disabled h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.pokemon-unit-disabled .catch-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all .2s ease-in-out;
}

/* My Pokemons gallery page */
.no-pokemon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.no-pokemon-div a {
    display: block;
    width: 100%;
}

.go-home-btn {
    margin: 3rem auto;
    background-color: rgb(210, 116, 21);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px;
    width: min(300px, 100%);
}

.my-pokemons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.my-pokemons-wrapper h1 {
    margin-top: 5rem;
}

.pokemon-type-filter-btns {
    margin-bottom: 1rem;
}


.pokemon-type-filter-btns > button {
    border: none;
    border-radius: 10px;
    padding: 4px 6px;
    margin: 2px;
}

.pokemons-gallery {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
}

.pokemons-gallery a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.my-pokemon-unit {
    border-radius: 10px;
    background-color: rgb(133, 202, 205);
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-pokemon-unit a{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-pokemon-unit img {
    width: 80%;
    object-fit: fill;
    margin-top: 2rem;
    margin-bottom: auto;
}

.my-pokemon-unit h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    justify-self: end;
}

/* Pokemons detail page */
.details-container {
    padding:20px;
    margin-top: 5rem;
    margin-bottom: auto;
    width: 100%;
}

.back-btn {
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-info {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.image-part img {
    width: 100%;
    background-color: rgb(133, 202, 205);
    border-radius: 10px;
}

.type {
    display: flex;
}

.type span {
    display: block;
    margin: 10px 10px;
    padding: 5px 20px;
    background-color: rgb(210, 116, 21);
    border-radius: 20px;
    color: white;
}

.info-part h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.info-part .attributes {
    margin-left: 10px;
}

.info-part .attributes p {
    margin: 0.6rem auto;
}

.star-img {
    width: 1.1rem;
    color: gold;
}

.attributes p {
    border-bottom: solid 1px rgb(210, 116, 21);
}

.attributes b {
    display: inline-block;
    width: 100px;
}

.abilities {
    display: flex;
    flex-wrap: wrap;
}

.abilities span {
    display: block;
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: rgb(133, 202, 205);
    border-radius: 5px;
    color: white;
}

.stats {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stats div {
    width: 100%;
    margin: 0.1rem auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
}

.stats span {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(234, 150, 77);
    padding: 10px;
    border-radius: 5px;
}

.release-btn {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    border: none;
    background-color: rgb(162, 206, 209);
}

.release-btn:active {
    transform: none;
    box-shadow: inset 2px 2px 5px -2px rgba(0,0,0,0.7);
}


@media only screen and (min-width:576px) {
    .pokemon-wrapper {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .pokemon-unit {
        width: 100%;
        margin: 20px auto;
    }
    
    .pokemon-unit img {
        width: min(240px, 100%);
        max-height: 200px;
    }

    /* Disabled pokemon card in home page */
    .pokemon-unit-disabled {
        width: 100%;
        background-color: rgb(205, 205, 205);
        margin: 20px auto;
    }

    .pokemon-unit-disabled img {
        width: min(240px, 100%);
        max-height: 200px;
        filter: contrast(50%);
    }

    .pokemons-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 762px) {
    .pokemons-gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .attributes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .attributes p {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width:992px) {
    .pokemon-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width:1200px) {
    .pokemon-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }

    .pokemons-gallery {
        grid-template-columns: repeat(5, 1fr);
    }
}
